<div class="container">
  <div>
    <form action="/sheets/create" method="post" enctype="multipart/form-data" style="margin: auto;">
      <h2>New Attendance Sheet</h2>
      <br>
      <input type="text" class="textbox" placeholder="Subject Name" name="subject">
      <input type="number" class="textbox" placeholder="Number of Students" name="studentCount">
      <br>
      <b>For marking attendance</b>
      <span>
        <input type="checkbox" class="textbox" placeholder="Number" name="reqName" id="reqRoll">
        <label for="reqRoll">Require Name</label>
      </span>
      <span>
        <input type="checkbox" class="textbox" placeholder="Number" name="reqEmail" id="reqEmail">
        <label for="reqEmail">Require Email</label>
      </span>
      <br>
      
      {{!-- <div>
        <input type="text" name="" id="">
      </div> --}}

      <input type="submit" class="button" value="Create">
    </form>
  </div>
</div>