<div class="container">
  <div class="container">
    <h1>Sheets Attendance</h1>

    <p>
      Welcome to this tiny web-app which will help you maintain 
      your attendance record for virtual classes (or otherwise).
    </p>
    <br><br>

    <h2>For Teachers</h2>
    <p>
      If you're a teacher, login with your Google account and let us 
      manage your Google Sheets for the attendance record. <br>
      Don't worry, this is 100% safe and <a href="github">open source</a>
      which means you can see the code that runs this website.
    </p>
    <br><br>
    <a class="link-button" href="/sheets/create">Create a Sheet</a>
    <br><br><br><br>

    <h2>For Students</h2>
    <p>
      If you're a student, you'll be given a link by your teacher
      with which you can visit to submit your attendance.
    </p>
    <br><br>

    <h3>For Developers</h3>
    <p>
      If you're a developer or just someone who wants to deploy this 
      for your own organization or school, check out the <a href="github">source code.</a>
    </p>
  </div>
</div>