<div class="container">
  <form action="/auth/login" method="post" style="margin: auto; padding: 2em;">
    <h2>Google Account Login</h2>
    <br>
    <input type="text" class="textbox" name="email" id="email" placeholder="Email">
    <input type="submit" class="button" value="Login with Google">
  </form>
</div>