<div class="container">
  <form action="/mark" method="post" style="margin: auto; padding: 2em;">
    <h2>Mark your Attendance</h2>
    <br>
    <span>
      <b>Lecture {{ lecture }}</b>
      <p>{{ class }}</p>
    </span>
    <br>
    <input type="text" class="textbox" placeholder="Email" name="email">
    <input type="text" class="textbox" placeholder="Roll Number" name="roll">

    <input type="hidden" name="sheetId" value="{{ sheetId }}">
    <input type="hidden" name="lecture" value="{{ lecture }}">
    <br>
    <input type="submit" class="button">
  </form>
</div>